
/* GENERAL */

*
{
    box-sizing: border-box;
    font-family:'Roboto', Arial, serif;
    font-size: 15px;
}

body
{
    max-width: 767px;
    
}

h1
{
    font-size: 24px;
}

/* HEADER */

.main-container
{
    max-height: 64px;
    display: flex;
    justify-content: center;
    padding-top: 22px;
    padding-bottom: 22px;
    box-shadow: -2px 2px 8px rgba(84,84,84,0.4); /*Je laisse ce souci de côté pour l'instant */
    margin-bottom: 2px;
    
    &__logo
    {
        width: 164px;
        height: 24px;
    }
}

.locate
{
    height: 50px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    background: #eaeaea;
    &__igeo
    {
        margin-right: 18px;
    }
}

.explore
{
    height: 288px;
    background: #f6f6f6;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    text-align: center;
    
    &__fulltitle
    {
        &__title
        {
            padding-left: 10%; 
            padding-right: 10%;
        }

        &__subtitle
        {
            padding-left: 8%; 
            padding-right: 8%;
        }

    }
    &__btn
    {
        height: 48px;
        width: 218px;
        border-radius: 30px;
        background: linear-gradient(150deg, #FF79DA, #9356DC);
        color: #ffffff;
        border: none;
        cursor: pointer;
    }
}

.stages
{
    max-height: 442px;
    display: flex;
    flex-flow: column wrap;
    padding-top: 35px;
    padding-left: 6%;
    &__stage1
    {
        margin-top: 25px;

        &__bloc1
        {
            top: 550px;
        }
        &__bloc2
        {

            &__icone1
            {
                margin-left: 9.5%;
                margin-right: 5%;
                color: #7e7e7e;
            }
        }
        
    }
    &__stage2
    {
        &__bloc1
        {
            top: 648px;
        }

        &__bloc2
        {
                
        
            &__icone2
            {
                
                margin-left: 9%;
                margin-right: 5%;
                display: flex;
                flex-flow: row wrap;
                color: #7e7e7e;
                
            }
        }
    }
    &__stage3
    {
        margin-bottom: 50px;
        &__bloc1
        {
            top: 747px;
        }
        &__bloc2
        {
            &__icone3
            {
                margin-left: 9%;
                margin-right: 5%;
                color: #7e7e7e;
                font-size: 12px;
            }

        }
    }

}

.marks, .bars
{
    font-size: 10px;
}

.marks
{
    margin-right: 1px;
}

.circle
{
    width: 25px;
    height: 25px;
    background: #9356DC;
    border-radius: 30px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 5%;
    z-index: 1;
}

.bubble
{
    width: 90%;
    height: 76px;
    border-radius: 25px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: #f6f6f6;
    position: relative;
    z-index: 0;
    margin-bottom: 22px;
    box-shadow: 2px 2px 16px rgba(84,84,84,0.4);
    margin-left: 2%;
}

/* MAIN */

.restaurants
{
    max-height: 1230px;
    background: #f6f6f6;
    padding-top: 35px;
    padding-left: 6%;
    display: flex;
    flex-flow: column wrap;
}

.restaurants__restolist__card
{
    height: 250px;
    width: 94%;
    background: #ffffff;
    border-radius: 25px; /* revoir le border-radius */
    margin-bottom: 18px;
    display: flex;
    flex-flow: column wrap;
    position: relative;
    box-shadow: 2px 2px 16px rgba(84,84,84,0.4);
    &__pic
    {
        height: 174px;
        width: 100%;
        border-radius: 25px 25px 0 0;
        object-fit: cover;
    }  
    &__title
    {
        line-height: 0.5;
        padding-left: 6%;
    }
}

.heart
{
    position: absolute;
    left: 85%;
    top: 75%;
    font-size: 20px;

}

/* FOOTER */

.footer
{
    height: 250px;
    width: 100%;
    background: #353535;
    color: #ffffff;
    padding-top: 10px;
    padding-left: 6.5%;
    display: flex;
    flex-flow: column wrap;
    &__footerlogo
    {
        font-family: 'Shrikhand', Arial, serif;
        margin-bottom: 20px;
    }
    &__footerlist
    {
        &__propose, &__partner
        {
            display: flex;
            flex-flow: row wrap;
            position: relative;
            &__link
            {
                margin-left: 25px;
                font-weight: bold;
            }
            
        }
        
    }
}

.footericon
{
    position: absolute;
    margin-right: 15px;
    top: 2px;
    font-size: 12px;
}

.footerlink
{
    margin-bottom: 10px;
}

