@import "components/hdstart.scss";
@import "components/stages.scss";
@import "components/main-section.scss";
@import "components/footer.scss";
@import "variables/variables.scss";

/* GENERAL */


*
{
    box-sizing: border-box;
    font-family:'Roboto', Arial, serif;
    font-size: 15px;
}

body
{
    max-width: 767px;
    
}

h1
{
    font-size: 24px;
}

