@charset "UTF-8";
* {
  box-sizing: border-box;
  font-family: "Roboto", Arial, serif;
  font-size: 15px;
}

body {
  max-width: 767px;
  /* TABLETTE */
  /*DESKTOP */
}
@media all and (min-width: 768px) and (max-width: 991px) {
  body {
    min-width: 100%;
    max-width: 100%;
  }
}
@media all and (min-width: 991px) and (max-width: 1921px) {
  body {
    min-width: 100%;
    max-width: 100%;
  }
}

a {
  text-decoration: none;
  color: black;
}
a:visited {
  color: black;
  text-decoration: none;
}
a:hover {
  cursor: pointer;
}
a:hover .main-list__card__title {
  color: #9356DC;
}

@media all and (min-width: 768px) and (max-width: 991px) {
  .page {
    margin-left: 10%;
    margin-right: 10%;
  }
}
@media all and (min-width: 992px) and (max-width: 1921px) {
  .page {
    margin-left: 15%;
    margin-right: 15%;
  }
}

@media all and (min-width: 768px) and (max-width: 991px) {
  .bigblock, .footer2 {
    max-width: 80%;
  }
}
@media all and (min-width: 992px) and (max-width: 1921px) {
  .bigblock, .footer2 {
    max-width: 70%;
  }
}

h1 {
  font-size: 24px;
}

h2 {
  font-weight: normal;
}

header {
  position: relative;
}

.headband {
  height: 64px;
  display: flex;
  justify-content: center;
  padding-top: 22px;
  padding-bottom: 22px;
}
.headband__logo {
  width: 164px;
  height: 24px;
}

.left-arrow {
  position: absolute;
  top: 26px;
  left: 22px;
}
.left-arrow:hover {
  color: #9356DC;
}

.picture {
  height: 220px;
  width: 100%;
  object-fit: cover;
}

.bigblock {
  height: 1196px;
  width: 100%;
  background: #f6f6f6;
  padding-top: 20px;
  padding-left: 4%;
  padding-right: 4%;
  border-radius: 30px 30px 0 0;
  position: absolute;
  top: 240px;
}
.bigblock__headband {
  position: relative;
}
.bigblock__headband__title {
  font-family: "Shrikhand", Arial, serif;
  margin-bottom: 40px;
  letter-spacing: 1px;
}
.bigblock__headband__icon {
  font-size: 25px;
  position: absolute;
  top: 1px;
  left: 85%;
}
@media all and (min-width: 768px) and (max-width: 991px) {
  .bigblock__headband__icon {
    left: 90%;
  }
}
@media all and (min-width: 991px) and (max-width: 1921px) {
  .bigblock__headband__icon {
    left: 92%;
  }
}

.bigblocknote {
  height: 1280px;
}

.section__fulltitle {
  line-height: 0.3;
  margin-bottom: 14px;
}
.section__fulltitle__underline {
  background: #99E2D0;
  width: 40px;
  height: 3px;
}
.section__block {
  background: #ffffff;
  height: 70px;
  width: 100%;
  border-radius: 18px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  position: relative;
  margin-bottom: 14px;
  padding-left: 4%;
  box-shadow: 2px 2px 12px silver;
  cursor: pointer;
  overflow: hidden;
}
.section__block:hover .checked {
  transform: translateX(-60px);
  transition: transform 0.7s;
}
.section__block:hover .checked__circle {
  transform: rotate(360deg);
  transition: transform 0.7s;
}
.section__block:hover .section__block__price {
  transform: translateX(-200%);
  transition: transform 0.7s;
}
.section__block__fulltext {
  line-height: 0.3;
  padding-right: 22%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
  max-width: 500px;
  min-height: 50px;
}
.section__block__price {
  position: absolute;
  left: 85%;
  top: 40px;
  font-weight: bold;
}
@media all and (min-width: 768px) and (max-width: 1921px) {
  .section__block__price {
    left: 90%;
  }
}

.lastblock {
  margin-bottom: 46px;
}

.verylastblock {
  margin-bottom: 50px;
}

.checked {
  height: 70px;
  width: 60px;
  background: #99E2D0;
  align-self: flex-end;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 18px 18px 0;
  position: absolute;
  right: -60px;
}
.checked__circle {
  background: #ffffff;
  height: 22px;
  width: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  color: #99E2D0;
  font-size: 14px;
}

.order {
  display: flex;
  justify-content: center;
}
.order__btn {
  height: 48px;
  width: 170px;
  border-radius: 30px;
  background: linear-gradient(150deg, #FF79DA, #9356DC);
  color: #ffffff;
  border: none;
  cursor: pointer;
  box-shadow: 2px 2px 12px silver;
}
.order__btn:hover {
  background: linear-gradient(150deg, #ff83dd 50%, #985ede 100%);
  box-shadow: 4px 4px 4px silver;
}

.footer2 {
  height: 200px;
  width: 100%;
  background: #353535;
  color: #ffffff;
  padding-top: 10px;
  padding-left: 6.5%;
  display: flex;
  flex-flow: column wrap;
  position: absolute;
  top: 1430px;
}
.footer2__footerlogo {
  font-family: "Shrikhand", Arial, serif;
  margin-bottom: 20px;
  letter-spacing: 0.8px;
}
.footer2__footerlist__propose, .footer2__footerlist__partner {
  display: flex;
  flex-flow: row wrap;
  position: relative;
}
.footer2__footerlist__propose__link, .footer2__footerlist__partner__link {
  margin-left: 25px;
  font-weight: bold;
}

.footernote {
  top: 1514px;
}

.footericon {
  position: absolute;
  margin-right: 15px;
  top: 2px;
  font-size: 12px;
}

.footerlink {
  color: #ffffff;
  margin-bottom: 10px;
}
.footerlink:visited {
  color: #ffffff;
}
.footerlink:hover {
  color: #9356DC;
  cursor: pointer;
}
.footerlink:hover .footericon {
  color: #9356DC;
  cursor: pointer;
}

/* ANIMATION DES BLOCKS */
.block1, .block2, .block3, .block4, .block5, .block6, .block7, .block8, .block9, .block10 {
  -webkit-animation-name: animateblock;
  animation-name: animateblock;
}

.block1 {
  animation-duration: 1.5s;
}

.block2 {
  animation-duration: 2s;
}

.block3 {
  animation-duration: 2.5s;
}

.block4 {
  animation-duration: 3s;
}

.block5 {
  animation-duration: 3.5s;
}

.block6 {
  animation-duration: 4s;
}

.block7 {
  animation-duration: 4.5s;
}

.block8 {
  animation-duration: 5s;
}

.block9 {
  animation-duration: 5.5s;
}

.block10 {
  animation-duration: 6s;
}

@-webkit-keyframes animateblock {
  0% {
    bottom: -50px;
    opacity: 0;
  }
  50% {
    bottom: -50px;
    opacity: 0;
  }
  75% {
    bottom: 0px;
    opacity: 0.5;
  }
  100% {
    bottom: 0;
    opacity: 1;
  }
}
@keyframes animateblock {
  0% {
    bottom: -50px;
    opacity: 0;
  }
  50% {
    bottom: -50px;
    opacity: 0;
  }
  75% {
    bottom: 0px;
    opacity: 0.5;
  }
  100% {
    bottom: 0;
    opacity: 1;
  }
}
.banner {
  max-height: 64px;
  display: flex;
  justify-content: center;
  padding-top: 22px;
  padding-bottom: 22px;
}
.banner__logo {
  width: 164px;
  height: 24px;
}

.shadow {
  height: 2px;
  background: rgba(105, 105, 105, 0.5);
}

.locate {
  height: 50px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  background: #eaeaea;
  box-shadow: 0 5px 5px -5px dimgrey inset;
}
.locate__igeo {
  margin-right: 18px;
}

.explore {
  height: 288px;
  background: #f6f6f6;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  text-align: center;
}
.explore__fulltitle__title {
  padding-left: 18%;
  padding-right: 18%;
}
.explore__fulltitle__subtitle {
  padding-left: 8%;
  padding-right: 8%;
}
.explore__btn {
  height: 48px;
  width: 218px;
  border-radius: 30px;
  background: linear-gradient(150deg, #FF79DA, #9356DC);
  color: #ffffff;
  border: none;
  cursor: pointer;
  box-shadow: 2px 2px 12px silver;
}
.explore__btn:hover {
  background: linear-gradient(150deg, #ff83dd 50%, #985ede 100%);
  box-shadow: 4px 4px 4px silver;
}

.stages {
  max-height: 442px;
  display: flex;
  flex-flow: column wrap;
  padding-top: 35px;
  padding-left: 6%;
}
.stages__stage1 {
  margin-top: 25px;
}
.stages__stage1__bloc1 {
  top: 550px;
}
.stages__stage1__bloc2__icone1 {
  margin-left: 9.5%;
  margin-right: 5%;
  color: #7e7e7e;
}
.stages__stage2__bloc1 {
  top: 648px;
}
.stages__stage2__bloc2__icone2 {
  margin-left: 9%;
  margin-right: 5%;
  color: #7e7e7e;
}
.stages__stage3 {
  margin-bottom: 50px;
}
.stages__stage3__bloc1 {
  top: 747px;
}
.stages__stage3__bloc2__icone3 {
  margin-left: 9%;
  margin-right: 5%;
  color: #7e7e7e;
}

.circle {
  width: 25px;
  height: 25px;
  background: #9356DC;
  border-radius: 30px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 5%;
  z-index: 1;
}
@media all and (min-width: 480px) and (max-width: 767px) {
  .circle {
    left: 6.5%;
  }
}
@media all and (min-width: 768px) and (max-width: 1023px) {
  .circle {
    left: 6%;
  }
}
@media all and (min-width: 1023px) and (max-width: 1921px) {
  .circle {
    left: 6.5%;
  }
}

.bubble {
  width: 90%;
  height: 76px;
  border-radius: 25px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: #f6f6f6;
  position: relative;
  z-index: 0;
  margin-bottom: 22px;
  margin-left: 2%;
  box-shadow: 2px 2px 12px silver;
}
.bubble:hover {
  background: #f5edff;
  cursor: pointer;
}
.bubble:hover .stageicon {
  color: #9356DC;
}

.main-section {
  max-height: 1230px;
  background: #f6f6f6;
  padding-top: 35px;
  padding-left: 6%;
  display: flex;
  flex-flow: column wrap;
  padding-bottom: 42px;
  /* Voir si le changement a opéré */
}

.main-list__card {
  height: 250px;
  width: 94%;
  background: #ffffff;
  border-radius: 15px;
  margin-bottom: 18px;
  display: flex;
  flex-flow: column wrap;
  position: relative;
  box-shadow: 2px 2px 12px silver;
}
.main-list__card__pic {
  height: 174px;
  width: 100%;
  border-radius: 15px 15px 0 0;
  object-fit: cover;
}
.main-list__card__title {
  line-height: 0.5;
  padding-left: 6%;
  padding-top: 10px;
}
.main-list__card__value-label {
  width: 78px;
  height: 28px;
  background: #99E2D0;
  position: absolute;
  top: 5%;
  left: 72.5%;
  color: #008766;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
}
@media all and (max-width: 320px) {
  .main-list__card__value-label {
    left: 68%;
  }
}
@media all and (min-width: 768px) and (max-width: 990px) {
  .main-list__card__value-label {
    left: 82.5%;
  }
}
@media all and (min-width: 991px) and (max-width: 1921px) {
  .main-list__card__value-label {
    left: 85%;
  }
}

.fullheart {
  /*
  position: absolute;
  width: 25px;
  height: 25px; 
  border: 1px solid black;
  display: flex;
  justify-content: center;
  left: 83%;
  top: 77.5%;*/
  /*&:hover  Revenir sur ce problème plus tard, à mon avis c'est réglable avec FA 
  {
      cursor: pointer;
  }*/
}
.fullheart__heart1 {
  font-size: 25px;
}
.fullheart__heart2 {
  font-size: 25px;
  background: -moz-linear-gradient(top, #e72c83 0%, #a742c6 100%);
  background: -webkit-linear-gradient(top, #e72c83 0%, #a742c6 100%);
  background: linear-gradient(to bottom, #e72c83 0%, #a742c6 100%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media all and (min-width: 768px) and (max-width: 1921px) {
  .fullheart {
    left: 90%;
  }
}

.footer {
  height: 200px;
  width: 100%;
  background: #353535;
  color: #ffffff;
  padding-top: 10px;
  padding-left: 6.5%;
  display: flex;
  flex-flow: column wrap;
}
.footer__footerlogo {
  font-family: "Shrikhand", Arial, serif;
  margin-bottom: 20px;
  letter-spacing: 0.8px;
}
.footer__footerlist__propose, .footer__footerlist__partner {
  display: flex;
  flex-flow: row wrap;
  position: relative;
}
.footer__footerlist__propose__link, .footer__footerlist__partner__link {
  margin-left: 25px;
  font-weight: bold;
}

.footericon {
  position: absolute;
  margin-right: 15px;
  top: 2px;
  font-size: 12px;
}

.footerlink {
  color: #ffffff;
  margin-bottom: 10px;
}
.footerlink:visited {
  color: #ffffff;
}
.footerlink:hover {
  color: #9356DC;
  cursor: pointer;
}
.footerlink:hover .footericon {
  color: #9356DC;
  cursor: pointer;
}

/* GENERAL */
* {
  box-sizing: border-box;
  font-family: "Roboto", Arial, serif;
  font-size: 15px;
}

body {
  max-width: 767px;
  /* TABLETTE */
  /*DESKTOP */
}
@media all and (min-width: 768px) and (max-width: 991px) {
  body {
    min-width: 100%;
    max-width: 100%;
  }
}
@media all and (min-width: 991px) and (max-width: 1920px) {
  body {
    min-width: 100%;
    max-width: 100%;
  }
}

a {
  text-decoration: none;
  color: black;
}
a:visited {
  color: black;
  text-decoration: none;
}
a:hover {
  cursor: pointer;
}
a:hover .main-list__card__title {
  color: #9356DC;
}

h1 {
  font-size: 24px;
}

h2 {
  font-weight: bolder;
}

.mainpage {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 6s;
  animation-name: animatebottom;
  animation-duration: 6s;
}
@media all and (min-width: 768px) and (max-width: 991px) {
  .mainpage {
    margin-left: 10%;
    margin-right: 10%;
  }
}
@media all and (min-width: 992px) and (max-width: 1921px) {
  .mainpage {
    margin-left: 15%;
    margin-right: 15%;
  }
}

@-webkit-keyframes animatebottom {
  from {
    bottom: -100px;
    opacity: 0;
  }
  to {
    bottom: 0px;
    opacity: 1;
  }
}
@keyframes animatebottom {
  from {
    bottom: -100px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}
.loader {
  border: 16px solid #eaeaea;
  border-top: 16px solid #99E2D0;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  -webkit-animation: spin linear 1 forwards;
  -webkit-animation-duration: 3s;
  -webkit-animation-delay: 0.5s;
  animation: spin linear 1 forwards;
  animation-duration: 3s;
  animation-delay: 0.5s;
  position: absolute;
  left: 44%;
  top: 50%;
  z-index: 1;
}

@-webkit-keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  99% {
    transform: rotate(360deg);
  }
  100% {
    transform: translateX(-9999px);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  99% {
    transform: rotate(360deg);
  }
  100% {
    transform: translateX(-9999px);
  }
}

/*# sourceMappingURL=main.css.map */
