@import "../variables/variables.scss";

.main-section
{
    max-height: 1230px;
    background: #f6f6f6;
    padding-top: 35px;
    padding-left: 6%;
    display: flex;
    flex-flow: column wrap;
    padding-bottom: 42px; /* Voir si le changement a opéré */
}

.bigcard
{
    height: 255px;
    margin-bottom: 13px;
    position: relative;
    padding-right: 0;
    width: 94%;
}

.main-list__card
{
    height: 250px;
    width: 100%;
    background: #ffffff;
    border-radius: 15px; 
    margin-bottom: 18px;
    display: flex;
    flex-flow: column wrap;
    position: relative;
    @include box-shadow;
    &__pic
    {
        height: 174px;
        width: 100%;
        border-radius: 15px 15px 0 0;
        object-fit: cover;
    }  
    &__title
    {
        line-height: 1.5;
        padding-top: 15px;
        padding-left: 6%;
        &__toptitle
        {
            font-weight: bolder;
        }
    }
    &__value-label
    {
        width: 78px;
        height: 28px;
        background: $color-tertiary;
        position: absolute;
        top: 5%;
        left: 72.5%;
        color: #008766;
        font-weight: bold;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 2px;
        @media all and (max-width: 320px)
        {
            left: 68%;
        }
        @media all and (min-width:768px) and (max-width:990px)
        {
            left: 82.5%;  
        }
        @media all and (min-width:991px) and (max-width:1921px)
        {
            left: 85%;  
        }
    }
}

.fullheart
{
    
    position: absolute;
    width: 27px;
    height: 27px; 
    background: #ffffff;
    border: none;
    display: flex;
    justify-content: center;
    left: 80%;
    top: 77.5%;
    &:hover  
    {
        cursor: pointer;
    }
    &:hover .fullheart__heart2
    {
        opacity: 1;
        transition: opacity 1s;
    }
    @media all and (min-width: 500px) and (max-width: 1921px)
    {
        left: 85%;
    }
    &__heart1
    {
        font-size: 25px;
        position: absolute;
        transition: transform 1s;
    }
    &__heart2
    {
        
        font-size: 27px;
        background:-moz-linear-gradient(top, $color-primary 0%, $color-secondary 100%); 
        background: -webkit-linear-gradient(top, $color-primary 0%, $color-secondary 100%); 
        background: linear-gradient(to bottom, $color-primary 0%, $color-secondary 100%);
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color:transparent;
        position: absolute;
        bottom: 0.5px;
        opacity: 0;
    }
    
    @media all and (min-width:768px) and (max-width:1921px)
    {
        left: 90%;  
    }
    
}



    

