@import "../variables/variables.scss";

.main-section
{
    max-height: 1230px;
    background: #f6f6f6;
    padding-top: 35px;
    padding-left: 6%;
    display: flex;
    flex-flow: column wrap;
    padding-bottom: 42px; /* Voir si le changement a opéré */
}

.main-list__card
{
    height: 250px;
    width: 94%;
    background: #ffffff;
    border-radius: 15px; 
    margin-bottom: 18px;
    display: flex;
    flex-flow: column wrap;
    position: relative;
    @include box-shadow;
    &__pic
    {
        height: 174px;
        width: 100%;
        border-radius: 15px 15px 0 0;
        object-fit: cover;
    }  
    &__title
    {
        line-height: 0.5;
        padding-left: 6%;
        padding-top: 10px;
    }
    &__value-label
    {
        width: 78px;
        height: 28px;
        background: $color-tertiary;
        position: absolute;
        top: 5%;
        left: 72.5%;
        color: #008766;
        font-weight: bold;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 2px;
        @media all and (max-width: 320px)
        {
            left: 68%;
        }
        @media all and (min-width:768px) and (max-width:990px)
        {
            left: 82.5%;  
        }
        @media all and (min-width:991px) and (max-width:1921px)
        {
            left: 85%;  
        }
    }
}

.heart
{
    position: absolute;
    left: 83%;
    top: 77.5%;
    font-size: 25px;
    /*&:hover  Revenir sur ce problème plus tard, à mon avis c'est réglable avec FA 
    {
        background: linear-gradient(0deg, $color-secondary, $color-primary);
        cursor: pointer;
    }*/
    @media all and (min-width:768px) and (max-width:1921px)
    {
        left: 90%;  
    }
}

